{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        {%for task in tasks%}
        <div class="col-md-4" >
        <div style="border: black;border-radius: 10px;border-style: solid;padding: 10px">

            <h4>{{task.title}}</h4>
            <p>{{task.priority}}</p>
            <p>{{task.due_date}}</p>
            <p>Completed {{task.complete}}</p>
            <p>Created at {{task.creation_time}}</p>
            <p>Updated at {{task.last_update}}</p>
            <p>{{task.description}}</p>
            
            {%for image in images%}
            {% if image.task == task %}
            <img style=" height: 100px;width: 100px
        " src="{{ image.images.url }}">
        {% endif %}
        {% endfor %}
        <div class="mt-1"></div>

        <a class="btn btn-success" href="{% url 'editTask' task.id %}">Edit</a>
        <a class="btn btn-danger" href="{% url 'deleteTask' task.id %}">Delete</a>


    </div>
</div>
{%endfor%}
</div>
</div>

{% endblock %}